html{
  background-color: blue;
}
.square{
  width: 100px;
  height: 100px;
  border: solid grey 2px 2px 2px 2px;
}
.board{
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

